<div class="dropdown">
    <a href="#" data-mdb-button-init
       data-mdb-ripple-init data-mdb-dropdown-init class="btn btn-primary dropdown-toggle"
       id="dropdownMenuButton"
       data-mdb-toggle="dropdown"
       aria-expanded="false">
        Admin
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="divider"></li>
        <li><a href="/MembershipType" class="dropdown-item">Membership</a></li>
        <li><a href="/Genre" class="dropdown-item"> Genre</a></li>
        <li class="divider"></li>
        <li><a href="/Book" class="dropdown-item"> Book</a></li>
        <li><a href="/Customer" class="dropdown-item">Customer</a></li>
        <li class="divider"></li>
    </ul>
</div>
