@model IEnumerable<BookRental.Models.Genre>
@using BookRental.Models

@{
    ViewBag.Title = "Index";
}

<h2>Genre</h2>

<p>
    @Html.Partial("_CreateButton")
</p>
<table class="table table-striped-columns table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
            @Html.Partial("_TableButtonPartial",new IndividualButtonPartial { GenreId=item.Id})

        
    </tr>
}

</table>
